# Configurações do Servidor Backend

# Porta do servidor
PORT=5000

# Supabase - Obtenha em https://supabase.com/dashboard/project/_/settings/api
SUPABASE_URL=https://komlitibejtmckgptuxn.supabase.co

SUPABASE_KEY=sb_secret_79yq5Ll-YWtGmS5ZcP8tXw_AbpuKl9Q

SUPABASE_SERVICE_KEY=sb_secret_79yq5Ll-YWtGmS5ZcP8tXw_AbpuKl9Q

# JWT Secret - Use uma string aleatória e segura
JWT_SECRET=Nsx-sz21

# URL do Frontend (para CORS)
FRONTEND_URL=https://gestordeeventos.vercel.app
